html {
    font-size: 16px;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 2%;
    background-color: #111426;
    color: #fff;
    font-family: monospace;
}

.header-section, .body-section, .footer-section {
    margin: 1.25rem;
}

.main-header {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.header-content {
    font-weight: bold;
    font-size: 1.1rem;
}

.body-content {
    margin: 1.25rem;
    line-height: 1.5;
}

.body-content-intro {
    font-size: 1rem;
}

.body-content-list {
    list-style: lower-alpha;
    margin: 1rem 1rem 1rem 2rem;
}

.body-content-list li {
    margin-bottom: 0.5rem;
}

.linked-item {
    text-decoration: none;
    color: lightgrey;
}

img {
    width: 9.4rem;
    border-radius: 50%;
    display: block;
    margin-top: 1rem;
}

span {
    color: red;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 0.9rem;
    }

    .main-header {
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 0.5rem;
    }

    .header-content {
        font-weight: bold;
        font-size: 0.8rem;
    }
    
    .body-content {
        margin: 1.1rem 1rem;
        line-height: 1.3;
    }
    
    .body-content-intro {
        font-size: 1rem;
    }
    
    .body-content-list {
        list-style: lower-alpha;
        margin: 1rem 1rem 1rem 2rem;
    }
    
    .body-content-list li {
        margin-bottom: 0.5rem;
    }
    
    .linked-item {
        text-decoration: none;
        color: lightgrey;
    }
    
    img {
        margin: 1rem auto;
        width: 5rem;
        border-radius: 50%;
        display: block;
    }
}
